.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  ion-button {
    width: 10rem;
  }
  div.bot {
    padding-top: 5%;
  }
  ion-label.lab {
    padding-top: 4.17%;
    padding-bottom: 4.17%;
  }
  ion-button.register {
    --background: white;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    transform: scale(1);
  }
  ion-button.login {
    --border-color: #white;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    transform: scale(1);
  }
  .register:hover {
    transform: scale(1.2) perspective(1px);
  }
  .login:hover {
    transform: scale(1.2) perspective(1px);
  }
}

.checkbox-wrap {
  padding: 0 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.terms {
  text-decoration: underline;
}
