<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm">
    <ion-item>
      <ion-input
        required
        label="Email"
        labelPlacement="floating"
        formControlName="email"
        type="text"
        (keyup.enter)="onRegister()"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        required
        label="Nombre de usuario"
        labelPlacement="floating"
        formControlName="username"
        type="text"
        minlength="3"
        (keyup.enter)="onRegister()"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        required
        label="Contraseña"
        labelPlacement="floating"
        formControlName="password"
        type="password"
        minlength="6"
        (keyup.enter)="onRegister()"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox
        slot="start"
        id="condition"
        labelPlacement="end"
        formControlName="termsAgreed"
        >Acepto los Términos y Condiciones de uso</ion-checkbox
      >
    </ion-item>
    <div class="flex">
      <div class="bot">
        <ion-button
          class="but1"
          fill="solid"
          [disabled]="!registerForm.valid"
          (click)="onRegister()"
          >Registrarme</ion-button
        >
      </div>
      <ion-row>
        <ion-label class="lab"
          >No querías registrarte? Inicia sesión aquí</ion-label
        >
      </ion-row>
      <div>
        <ion-row>
          <ion-button class="but2" fill="outline" (click)="goTo('login')"
            >Iniciar sesión</ion-button
          >
        </ion-row>
      </div>
    </div>
  </form>
</ion-content>
