<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button id="open-modal">
    <ion-label>Post</ion-label>
  </ion-button>
</ion-content>

<ion-modal mode="ios" trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Nuevo post</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Publicar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="wrapper">
        <ion-button fill="clear" (click)="takePicture()">
          <ion-label>Img</ion-label>
        </ion-button>
        <img *ngIf="img" [src]="img" alt="Foto" />
      </div>
      <ion-item>
        <ion-input
          label="Introduce una descripción"
          labelPlacement="stacked"
          type="text"
          placeholder="Descripción del post"
          [(ngModel)]="description"
        ></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
