h1 {
  font-size: 6rem;
  font-style: italic;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;

  @media (max-width: 380px) {
    font-size: 5rem;
  }

  @media (max-width: 320px) {
    font-size: 4rem;
  }

  @media (max-width: 270px) {
    font-size: 3rem;
  }
}

h3 {
  color: #bcbcbc;
  text-align: center;
  font-family: JetBrains Mono;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.titles {
  width: 100%;
  margin-top: 30px;
}

.buttons {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

ion-button.login {
  --background: white;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  transform: scale(1);
}
ion-button.register {
  --border-color: #white;
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  transform: scale(1);
}
.login:hover {
  transform: scale(1.2) perspective(1px);
}
.register:hover {
  transform: scale(1.2) perspective(1px);
}
