.other {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #333;
  object-fit: cover;
  margin-right: 10px;
}

.user-name {
  font-size: 24px;
  color: #333;
}

.error {
  text-wrap: pretty;
}

.center-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 40vh;
}
