<ion-header [translucent]="true">
  <ion-toolbar id="close-placeholder">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goHome()">
        <ion-icon
          src="../../../assets/icons/ic-close.svg"
          id="close-icon"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>
      <ion-row>
        <img
          src="avatar.jpg"
          alt="Avatar"
          onerror="this.src = 'https://images.hola.com/imagenes/mascotas/20210217184541/gatos-gestos-lenguaje-significado/0-922-380/gatos-gestos-m.jpg?tx=w_680'"
          class="user-avatar"
        />
        <h2 class="user-name">@painstar1.OO1</h2>
      </ion-row>
      <ion-row>
        <img
          src="avatar.jpg"
          alt="Avatar"
          onerror="this.src = 'https://images.hola.com/imagenes/mascotas/20210217184541/gatos-gestos-lenguaje-significado/0-922-380/gatos-gestos-m.jpg?tx=w_680'"
          class="post-image"
        />
      </ion-row>
      <!-- <img src="{{post.image}}" class="post-image" /> -->
      <ion-row class="info">
        <div>
          <h2 class="biografia">bio falsa</h2>
          <h2 class="fecha-creacion">23 enero</h2>
        </div>
        <div>
          <ion-icon
            src="../../../assets/icons/ic-heart-empty.svg"
            id="heart-icon"
            (click)="toggleLike()"
          ></ion-icon>
          <ion-icon
            src="../../../assets/icons/ic-comments.svg"
            id="comment-icon"
          ></ion-icon>
          <ion-icon
            src="../../../assets/icons/ic-comments.svg"
            id="share-icon"
            (click)="copyUrlToPost()"
          ></ion-icon>
        </div>
      </ion-row>
      <ion-row>
        <h2 class="tags">tags varios</h2>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
