.center-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 40vh;
}
* {
  --background: #000000;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #fff;
  background: url(https://images.hola.com/imagenes/mascotas/20210217184541/gatos-gestos-lenguaje-significado/0-922-380/gatos-gestos-m.jpg?tx=w_680),
    lightgray 0.554px 0.251px / 100% 149.531% no-repeat;
  margin-top: 27px;
  margin-left: 51px;
}

.user-name {
  width: 119px;
  height: 12px;
  color: #fff;
  font-family: JetBrains Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  margin-left: 18px;
  margin-top: 34px;
}

#heart-icon {
  width: 18px;
  height: 18px;
  //margin-left: 279px;
  margin-top: 13px;
}

#comment-icon {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  //margin-left: 14px;
  margin-top: 13px;
  //margin-right: 62px;
}

#share-icon {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  margin-top: 13px;
  margin-right: 40px;
}

.post-image {
  // width: 288px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 22px;
}

.post-wrapper {
  height: 65%;
  max-height: 600px;
  max-width: 350px;
  aspect-ratio: 2/3;
  border-radius: 22px;
  // border: 1px solid #fff;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  @media (max-width: 380px) {
    max-width: 300px;
  }

  @media (max-width: 320px) {
    max-width: 250px;
  }
}

.biografia {
  width: 74px;
  height: 12px;
  color: #fff;
  font-family: JetBrains Mono;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  opacity: 0.7;
  margin-top: 13px;
  margin-left: 62px;
}

.fecha-creacion {
  width: 110px;
  height: 12px;
  color: #fff;
  font-family: JetBrains Mono;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  margin-left: 62px;
  margin-top: 3px;
  opacity: 0.7;
}

.tags {
  display: flex;
  width: 71px;
  height: 10px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: JetBrains Mono;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 62px;
  opacity: 0.7;
}

.info {
  display: flex;
  justify-content: space-between;
}

ion-icon {
  margin: 0 3px;
}
