<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-title mode="ios">{{ viewTitle }}</ion-title>
  </ion-toolbar>

  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    [step]="calendar.step"
    [noEventsLabel]="calendar.noEventsLabel"
    [startingDayWeek]="calendar.startingDayWeek"
    [startingDayMonth]="calendar.startingDayMonth"
    [monthviewDisplayEventTemplate]="template"
    [monthviewEventDetailTemplate]="events"
  >
  </calendar>

  <ng-template #events>
    <div class="indicator-container">
      <div *ngIf="currentEvents.length" class="event">
        (Aqui ha de ir la lista de posts)
      </div>
      <div *ngIf="!currentEvents.length" class="event">
        {{calendar.noEventsLabel}}
      </div>
    </div>
  </ng-template>

  <ng-template #template let-view="view" let-row="row" let-col="col">
    {{view.dates[row * 7 + col].label}}
    <div class="indicator-container">
      <div
        class="event-indicator"
        *ngIf="view.dates[row * 7 + col].events.length"
      >
        .
      </div>
    </div>
  </ng-template>
</ion-content>
