<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-title id="month-name" mode="ios">{{ viewTitle }}</ion-title>
  </ion-toolbar>

  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    [step]="calendar.step"
    [noEventsLabel]="calendar.noEventsLabel"
    [startingDayWeek]="calendar.startingDayWeek"
    [startingDayMonth]="calendar.startingDayMonth"
    [monthviewDisplayEventTemplate]="template"
    [monthviewEventDetailTemplate]="events"
  >
  </calendar>

  <ng-template #events>
    <div class="indicator-container">
      <div *ngIf="currentEvents.length" class="event">
        <div *ngFor="let post of currentEvents" class="post-container">
          <div class="post-wrapper">
            <img
              [src]="post.image"
              alt="Post {{ post.id }} de {{ post.username }}"
              onerror="this.src = 'https://images.hola.com/imagenes/mascotas/20210217184541/gatos-gestos-lenguaje-significado/0-922-380/gatos-gestos-m.jpg?tx=w_680'"
              class="post-image"
            />
            <span>{{ post.text }}</span>
          </div>
        </div>
      </div>
      <div *ngIf="!currentEvents.length" class="event" id="no-posts">
        {{calendar.noEventsLabel}}
      </div>
    </div>
  </ng-template>

  <ng-template #template let-view="view" let-row="row" let-col="col">
    {{view.dates[row * 7 + col].label}}
    <div class="indicator-container">
      <div
        class="event-indicator"
        *ngIf="view.dates[row * 7 + col].events.length"
      >
        .
      </div>
    </div>
  </ng-template>
</ion-content>
