.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  ion-button {
    width: 10rem;
  }
  div.bot {
    padding-top: 5%;
  }
  ion-label.lab {
    padding-top: 4.17%;
    padding-bottom: 4.17%;
  }
  ion-button.login {
    --background: white;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    transform: scale(1);
  }
  ion-button.register {
    --border-color: #white;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    transform: scale(1);
  }
  .login:hover {
    transform: scale(1.2) perspective(1px);
  }
  .register:hover {
    transform: scale(1.2) perspective(1px);
  }
}

.logo {
  max-height: 15rem;
}
