<ion-content [fullscreen]="true">
  <div class="flex">
    <div>
      <img src="assets/icon/clout.png" class="logo" alt="logo" />
    </div>
  </div>
  <form [formGroup]="loginForm">
    <ion-row>
      <ion-label class="ion-padding lab"
        >Introduce tus datos para iniciar sesión</ion-label
      >
    </ion-row>
    <ion-item>
      <ion-input
        required
        label="Email"
        labelPlacement="floating"
        formControlName="email"
        type="text"
        (keyup.enter)="onLogin()"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        required
        label="Contraseña"
        labelPlacement="floating"
        formControlName="password"
        type="password"
        minlength="6"
        (keyup.enter)="onLogin()"
      ></ion-input>
    </ion-item>
    <div class="flex">
      <div class="bot">
        <ion-button
          class="login"
          fill="solid"
          id="login"
          [disabled]="!loginForm.valid"
          (click)="onLogin()"
          >Iniciar sesión</ion-button
        >
      </div>
      <ion-row>
        <ion-label class="ion-padding lab"
          >No tienes cuenta? Regístrate aquí</ion-label
        >
      </ion-row>
      <div>
        <ion-row>
          <ion-button class="register" fill="outline" (click)="goTo('register')"
            >Registrarse</ion-button
          >
        </ion-row>
      </div>
    </div>
  </form>
</ion-content>
