.icon-inner {
  font-size: 1.5rem;
  color: #636363;
}

ion-icon::part(icon-inner) {
  font-size: 1.5rem;
  color: #af1c1c;
}

ion-icon::part(native) {
  font-size: 1.5rem;
  color: #492020;
}

ion-icon {
  .icon-inner {
    font-size: 1.5rem;
    color: #7b9421;
  }
}

ion-icon {
  filter: contrast(1);
}

ion-tab-button.tab-selected {
  //   filter: contrast(1);
  ion-icon {
    filter: contrast(0.5);
  }
}
