<ion-tabs #tabs (ionTabsWillChange)="tabsWillChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon #homeIcon src="../../../assets/icons/ic-home.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="calendar">
      <ion-icon
        #calendarIcon
        src="../../../assets/icons/ic-calendar.svg"
      ></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon
        #searchIcon
        src="../../../assets/icons/ic-search.svg"
      ></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon
        #profileIcon
        src="../../../assets/icons/ic-profile.svg"
      ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
