.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    ion-button {
      width: 10rem;
    }
    div.bot {
      padding-top: 5%;
    }
    ion-label.lab {
      padding-top: 4.17%;
      padding-bottom: 4.17%;
    }
    ion-button.but1 {
      --background: #3689ff;
      --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
      transition: all 0.3s ease;
      transform: scale(1);
    }
    ion-button.but2 {
      --border-color: #3689ff;
      --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
      transition: all 0.3s ease;
      transform: scale(1);
    }
    .but1:hover {
      transform: scale(1.2) perspective(1px);
    }
    .but2:hover {
      transform: scale(1.2) perspective(1px);
    }
  }