* {
  --background: #000;
}

ion-toolbar {
  margin-top: 32px;
}

ion-list {
  padding: 0;
}

ion-item {
  width: 100vw;
  border: none;
  margin: 0;
}

ion-avatar {
  width: 33px;
  height: 33px;
  margin: 0;
}

.username {
  margin-left: 20px;
  color: #fff;
  font-family: JetBrains Mono;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.unfollow {
  color: #818181;
  text-align: center;
  font-family: JetBrains Mono;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  border: 1px solid #818181;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  width: 90px;
  height: 27px;
}

#arrow-icon {
  rotate: 180deg;
}

#title {
  width: 100%;
  height: 21px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 57px;
  color: #fff;
  font-family: JetBrains Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
