<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "profile">
    <img src="avatar.jpg" alt="Avatar" onerror="this.src = 'https://images.hola.com/imagenes/mascotas/20210217184541/gatos-gestos-lenguaje-significado/0-922-380/gatos-gestos-m.jpg?tx=w_680'" class="user-avatar">
    <h2 class="user-name">{{username}}</h2>
    <ion-button
          class="but1"
          fill="solid"
          >Ajuste</ion-button
        >
  </div>
</ion-content>
