<ion-content class="ion-padding">
  <div class="wrapper">
    <div class="titles">
      <h1>clout</h1>
      <h3>save your closet, track your outfits. all in one place:)</h3>
    </div>

    <div class="buttons">
      <div class="button-container login">
        <button (click)="goTo('login')">
          <ion-icon src="../../../assets/icons/ic-mail.svg"></ion-icon>
          LOGIN
        </button>
      </div>
      <div class="button-container">
        <button class="register" (click)="goTo('register')">
          <ion-icon src="../../../assets/icons/ic-create.svg"></ion-icon>
          REGISTER
        </button>
      </div>
    </div>
  </div>
</ion-content>
