<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <post *ngFor="let post of posts" [post]="post"></post>
  </ion-list>
  <div *ngIf="!posts.length && !postsArrived">
    <div class="center-spinner">
      <span>Cargando los posts</span>
      <ion-spinner></ion-spinner>
    </div>
  </div>
  <div *ngIf="!posts.length && postsArrived">
    <div class="center-spinner">
      <span>Actualmente no hay ningún post</span>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button id="open-modal">
      <ion-label>Post</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>

<ion-modal mode="ios" trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">
            <ion-icon
              src="../../../assets/icons/ic-close.svg"
              id="close-icon"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Nuevo post</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true" id="publish-button"
            >Publicar</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="wrapper">
        <p class="text">Añade tu outfit</p>
        <ion-button
          fill="clear"
          (click)="takePicture()"
          shape="round"
          id="outfit-button"
        >
          <ion-col>
            <ion-icon
              src="../../../assets/icons/ic-add.svg"
              id="add-icon"
            ></ion-icon>
            <span id="button-text">add outfit</span>
          </ion-col>
        </ion-button>
        <img *ngIf="img" [src]="img" alt="Foto" />
      </div>
      <ion-item lines="none">
        <ion-textarea
          type="text"
          id="text-descripcion"
          placeholder="Descripción del post"
          [(ngModel)]="description"
        ></ion-textarea>
      </ion-item>
      <ion-list>
        <ion-item lines="none">
          <ion-select
            id="text-etiquetas"
            aria-label="Etiquetas"
            placeholder="Añade algunas etiquetas"
            [multiple]="true"
            [(ngModel)]="selectedEtiquetas"
          >
            <ion-select-option
              *ngFor="let etiqueta of etiquetas"
              [value]="etiqueta.value"
              >{{etiqueta.label}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
