ion-col {
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.center-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 40vh;
}

#publish-button {
  margin-top: 70px;
  border: 2px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #fff;
}

#close-icon {
  margin-top: 70px;
  height: 18px;
  width: 18px;
  border: 2px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #fff;
}

.text {
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
  width: 145px;
  height: 17px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: JetBrains Mono;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
}

#outfit-button {
  width: 180px;
  height: 232px;
  flex-shrink: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 33px;
  border: 1px solid #fff;
  color: #ffffff;
  background-image: url("../../../assets/icon/ropa.png");
  background-size: cover;
  background-position: center;
}

#add-icon {
  width: 54.357px;
  height: 54.357px;
  flex-shrink: 0;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

#button-text {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 92px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: JetBrains Mono;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: lowercase;
}

#text-descripcion {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

#text-etiquetas {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 20px;
}

ion-item {
  border: 3px solid #808080;
  border-radius: 33px;
  margin-top: 20px;
}

ion-toolbar {
  --background: #000000;
}

.post-wrapper {
  height: 65%;
  max-height: 600px;
  max-width: 350px;
  aspect-ratio: 2/3;
  border-radius: 22px;
  // border: 1px solid #fff;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  @media (max-width: 380px) {
    max-width: 300px;
  }

  @media (max-width: 320px) {
    max-width: 250px;
  }
}

.photo {
  // width: 288px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 22px;
}
