.wrapper {
  display: flex;
  flex-direction: column;
}

.center-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 40vh;
}
